In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"E:\Gymcode\DA\DAP2304R1\Bai tap learn\Data\GDPlist.csv",encoding="ISO-8859-1")

In [5]:
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [15]:
#Tính giá trị lớn nhất và nhỏ nhất của GDP
gdp_max = df['GDP (millions of US$)'].max()
gdp_min = df['GDP (millions of US$)'].min()
print ("Gia tri GDP lon nhat la: " + str(gdp_max))
print ("Gia tri GDP nho nhat la: " + str(gdp_min))

Gia tri GDP lon nhat la: 15094025
Gia tri GDP nho nhat la: 10600

In [54]:
#Hãy cho biết xu hướng phân bố dữ liệu của GDP
print('Mean: ' + str(df['GDP (millions of US$)'].mean()))
print('Median: ' + str(df['GDP (millions of US$)'].median()))
print('Mode: ' + str(df['GDP (millions of US$)'].mode()[0]))
# Mode<Median<Mean => du lieu phan bo lech phai

Mean: 555427.784
Median: 96089.0
Mode: 10600

In [62]:
# Hãy cho biết châu lục nào xuất hiện nhiều nhất
print('quoc gia xuat hien nhieu nhat la: ' + str(df['Continent'].value_counts().idxmax()) + ' voi ' + str(df['Continent'].value_counts()[0])+' lan xuat hien')
print('quoc gia xuat hien nhieu nhat la: ' + str(df['Continent'].value_counts().index[0]) + ' voi ' + str(df['Continent'].value_counts()[0])+' lan xuat hien')
# co the su dung idxmax hoac index[0]

quoc gia xuat hien nhieu nhat la: Europe voi 37 lan xuat hien
quoc gia xuat hien nhieu nhat la: Europe voi 37 lan xuat hien

## Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP

In [77]:
# mỗi châu lục hãy tính tổng GDP
df_total_continent = df.groupby(by='Continent')['GDP (millions of US$)'].sum().to_frame()
df_total_continent = df_total_continent.rename(columns={'GDP (millions of US$': 'Tong GDP'})
df_total_continent

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [78]:
# mỗi châu lục hãy tính trung bình cộng GDP
df_avg_continent = df.groupby(by='Continent')['GDP (millions of US$)'].mean().to_frame()
df_avg_continent

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05
South America           4.601352e+05

In [79]:
# Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP
pd.merge(df_total_continent,df_avg_continent,on='Continent')

               GDP (millions of US$)_x  GDP (millions of US$)_y
Continent
Africa                         1820811             6.278659e+04
Asia                          24425891             6.784970e+05
Europe                        19139380             5.172805e+05
North America                 18238447             1.658041e+06
Oceania                        1662727             5.542423e+05
South America                  4141217             4.601352e+05